/* Enter your Styles below! */
*{
    background-color: #ffe7ab;
    box-sizing: border-box;
    
}

img{
    max-width: 100%;
    padding-right: 10%;
    padding-left: 10%;
   
}


header{
    display: block;
    margin: auto;
    text-align: center;
    
}


@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.blink {
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
}

.button {
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    color: white;
    border: 2px solid salmon;
    background-color: salmon;
    padding: 8px;
    border-radius: 7px;
    margin-bottom: 20px;
    text-align: center;
}



@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}